<article class="jumbotron">
	<header>
		<h1>How does it work?</h1>
	</header>
	<main>
		<p>I took all the users starred repos from github and grabbed the dominant language attribute.</p>
		<p>Then I added these to an array and computed the mode.</p>
		<p>The mode was served to the user as their favourite language.</p>
	</main>
	<aside>
		<p>You can fork the project on <a href="https://github.com/elmargasimov/lovelanguage" target="top">Github</a></p>
	</aside>
</article>